.my-posts-title {
    font-size: 25px;
    display: block;
    color: lightgray;
    text-align: center;
}

.post-bio-container {
    display: flex;
    position: relative;
    
}

.my-posts {
    position: relative;
    width: 100%;
}

hr.white-line {
    border: none;
    border-top: 1px solid #ccc;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
.upvote-downvote {
    height: 30px;
    width: 30px;
}

.tags-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upvote-downvote-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
    
}

.tags {
    border-radius: 8px;
    display: inline-block;
    width: 100%;
    height: 75%;
    background-color: rgb(129, 129, 129);
    color: white;
    text-align: center;
    line-height: 35px;
    margin-right: 10px;
}

.votes {
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.post-title {
    font-size: 25px;
}

.post-table {
    border-collapse: collapse;
    color: lightgray;
    margin-left: 10%;
    margin-right: 10%;
}
