{% extends "base.html" %} {% block content %} {% block head %} {{ super() }}
<script src="{{ url_for('static',filename='js/viewPost.js') }}"></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/posts.css') }}"
/>
{% endblock %}
<div class="container">
  <article>
    <h2 id="post-title">{{data.title}}</h2>
    <p id="post-content">{{data.content}}</p>
  </article>
  {% endblock %}
</div>
