{% extends "base-new.html" %} {% block content %} {% block head %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/all-posts.css') }}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
{% endblock %}

<div class="post-bio-container">
  <div class="my-posts">
    <h1 class="my-posts-title">My Posts</h1>
    {% for post in data %}
    <table class="post-table">
      <thead>
        <tr>
          <th class="titleName"><a href="{{ url_for('post_bp.get_post',
                  p_uuid=post.uuid, p_uri=post.uri) }}">{{
              post.title }}</a></th>
          <th class="time">Post Date</th>
          <th class="upvotes">Votes</th>
          <th class="postTag">Tags</th>
        </tr>
      </thead>
      <tr>
        <td>{{ post.content }}</td>
        <td>{{ post.date }}</td>
        <td>
          <div class="fa fa-thumbs-up">{{ post.upvotes }}</div>
          <div class="fa fa-thumbs-down">{{ post.downvotes }}</div>
        </td>
        <td>
          {% for tag in post.tags %}
          <span class="tags">{{ tag }}</p>
            {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </table>
    <br>
  </div>
</div>
{% endblock %}