{% extends "base-new.html" %} {% block head %} {{ super() }}
<script src="{{ url_for('static',filename='js/postCreate.js') }}"></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/post-view.css') }}"
/>
{% endblock %}
<div class="post-container">
  <form
    method="post"
    action="{{ url_for('post_bp.add_post_reply', p_title=data.title)}}"
  >
    <br />
    <div class="field">
      <div class="control">
        <input
          class="input"
          type="text"
          name="post-title"
          placeholder="Post title"
          autofocus=""
        />
      </div>
    </div>
    <div class="field">
      <div class="control">
        <textarea name="post-body" cols="120" rows="5"></textarea>
      </div>
    </div>
    <button class="button is-block is-info is-large is-fullwidth">
      Add Reply
    </button>
  </form>
  {% endblock %}
</div>
