/* Styling for Flask error flash message html */
.error {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(175, 175, 175);
  background-color: rgba(137, 251, 255, 0.664);
  border-radius: 5px;
  font-size: 1.5em;
}

.error a {
  color: red;
}
